<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>DockerFlask</title>
</head>
<body>
    <h1>H E L L O W O R L D</h1>
    <p class="page">Make By Render Template Flask </p>

    <div class="github-profile">
        <p>Website Created By <a href="https://github.com/Kyxzy">Kiyotaka Ayanokouji</a></p>
    </div>

</body>
</html>
